{% extends "base.html" %}

{% block content %}
<a class="link" href="{% url 'finance_insert_entry' %}" role="button">Add</a>
<table class="table" id="finance-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Description</th>
            <th>Paid By</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="loading" style="display: none;">Loading...</div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script>
function load_table() {
    document.getElementById('loading').style.display = 'block';
    fetch("{% url 'finance_table_data' %}")
    .then((response) => response.json())
    .then((data) => updateTableInfo(data.rows))
    .finally(() => {
        document.getElementById('loading').style.display = 'none';
    });
}

function updateTableInfo(data) {
    const tableBody = document.querySelector('#finance-table tbody');
    tableBody.innerHTML = '';
    data.forEach((row) => {
        const tr = document.createElement('tr');
        tr.innerHTML = `
            <td>${row.id}</td>
            <td>${row.date}</td>
            <td>${row.description}</td>
            <td>${row.paid_by}</td>
            <td>${formatPrice(row.price)}</td>
        `;
        tableBody.appendChild(tr);
    });
}

function formatPrice(price) {
    return new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(price);
}

window.onload = load_table;
</script>
{% endblock %}

