<!DOCTYPE html>
<html>
  <head>
    <title>LEVITUM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'pico.min.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><a href="{% url 'index' %}"><strong>LEVITUM</strong></a></li>
      </ul>
      <ul>
        {% if user.is_authenticated %}
        <li><span>{% firstof user.first_name user.username %}</span>
        <li><a href="{% url 'logout' %}" role="button">Logout</a>
        {% endif %}
      </ul>
    </nav>

    <main class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}{% endblock content %}
    </main>

    <footer class="container-fluid">
    {% block footer %}{% endblock footer %}
    </footer>
  </body>
</html>
